.container {
  padding-left: clamp(32px, 8vw, 128px);
  padding-right: clamp(32px, 8vw, 128px);
  padding-top: 70px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 4px solid rgba(205, 205, 205, 0.48);
}

.products {
  display: flex;
  align-items: flex-center;
  gap: 40px;
  margin-top: 40px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.productCard {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.productLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productCard:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -22px; 
  height: 80%;
  width: 4px;
  background-color: #d1d1d1;
  border-radius: 10px;
}

.productTitle {
  font-size: 14px;
  margin: 8px 0 4px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productImageWrapper {
  width: 180px; 
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.productPrice {
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.title{
  font-size: 33px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.13);
  margin-left: 7px;
  text-transform: capitalize;
}

.moreButton{
  display: inline-flex;
  align-items: center;
  
  gap: 6px; 
  background-color: #ebebeb;
  padding: 2px 10px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.11);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.moreButtonArrow {
  display: inline-block;
  transform: translateY(1px);
}

.moreButton:hover {
  transform: scale(1.03);
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2); 
}

.header{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.productsWrapper {
  position: relative;
}

.productsWrapper::before,
.productsWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.productsWrapper::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.productsWrapper::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.products::-webkit-scrollbar {
  height: 8px;
}

.products::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.cardButtons {
  position: absolute;
  top: 11px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
}

.likeButton,
.cartButton {
  background-color: rgb(238, 237, 237);
  padding: 9px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}


.likeButton:hover ,
.cartButton:hover {
  background-color: rgb(228, 227, 227);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.25);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.heartImage {
  transition: transform 0.2s ease;
}

.heartImage.animate {
  animation: heartbeat 1.3s ease;
}

@keyframes toCart {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  15% {
    transform: scale(1.25);
    opacity: 1;
  }
  30% {
    transform: scale(0.90);
  }
  45% {
    transform: scale(1.12);
  }
  60% {
    transform: scale(0.92);
  }
  75% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}


.cartImage {
  transition: transform 0.2s ease;
}

.cartImage.animate {
  animation: toCart 1.3s ease;
}

@media (max-width: 690px) {
  .title {
    font-size: 26px !important;
  }

  .container{
    padding-left: clamp(20px, 5vw, 64px);
    padding-right:clamp(20px, 5vw, 64px);
  }
}