.workingDays h1{
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 30px;
}

.workingDays h2{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.mein h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 60px;
}

.meinText h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

.mein h2{
    margin-bottom: 15px;
    font-weight: 300;
}

.container{
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px 50px 50px;
}

.workingDaysAndMap{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.linksAndGmail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.links{
    display: flex;
    gap: 50px;
}

.mein{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
}

.instagram {
    position: relative;
    display: inline-block;
    background-image: url("/header/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; /* Плавне масштабування */
}

.instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/header/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: -1; /* Розмістити позаду */
    transform: rotate(0deg); /* Початкове значення */
    transition: transform 0.4s linear; /* Плавний перехід */
    will-change: transform; /* Оптимізація */
}

.instagram:hover::before {
    transform: rotate(40deg); /* Обертання при наведенні */
}

.instagram:hover {
    transform: scale(1.1); /* Масштабування елемента */
}

.instagram img {
    margin: 10px;
    position: relative;
    z-index: 1; /* Щоб іконка була поверх бекграунда */
}

.tiktok{
    position: relative;
    display: inline-block;
    background-image: url("/header/bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; /* Плавне масштабування */
}

.tiktok::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/header/bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(0deg);
    transition: transform 0.4s linear;
    will-change: transform; 
}

.tiktok:hover::before {
    transform: rotate(-40deg);
}

.tiktok:hover {
    transform: scale(1.1);
}

.tiktok img {
    margin: 10px;
    position: relative;
    z-index: 1;
}

.facebook{
    position: relative;
    display: inline-block;
    background-image: url("/header/bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; 
}

.facebook::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/header/bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(0deg);
    transition: transform 0.4s linear;
    will-change: transform;
}

.facebook:hover::before {
    transform: rotate(40deg);
}

.facebook:hover {
    transform: scale(1.1); 
}

.facebook img {
    margin: 10px;
    position: relative;
    z-index: 1;
}

.map{
    gap: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mapText{
    font-size: 14px;
    font-weight: 300;
}


.mapText:hover + .arrowPngImageEnd.animate,
.mapText:hover ~ .arrowPngImageStart.animate {
    animation: goArrow 0.6s;
}

@keyframes goArrow { 
    0% {
        transform:translateX(0%);
    }
    40% {
        transform:translateX(8%);
    }
    60% {
        transform:translateX(4%);
    }
    80% {
        transform:translateX(6%);
    }
    100% {
        transform:translateX(0%);
    }
}

.workingDays {
    text-align: left;

}

.container img{
  max-width: none;
}

.myDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: right;
}

.arrowPngImageEnd{
    height: 6px !important;
}

.arrowPngImageStart{
    height: 6px !important;
}

.info {
    display: none !important;
}

@media (max-width: 1150px) {
    .info {
        display: block !important;
    }
}

.info{
    font-size: 16px;
    font-weight: 300;
}


@media (max-width: 1382px) {

}

@media (max-width: 992px) {
    .meinText h1{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .links{
        gap: 30px;
    }

    .linksAndGmail{
        font-size: 14px;
    }

    .workingDays h1{
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 20px;
    }
    
    .workingDays h2{
        font-size: 12px;
        font-weight: 300;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 650px) {
    .workingDaysAndMap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workingDays h1{
        margin-bottom: 10px;
    }

    .workingDays h2{
        margin-bottom: 1px;
    }

    .workingDays{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .myDiv {
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {

    .meinText h1{
        font-size: 26px;
        margin-bottom: 30px;
    }

    .workingDays h1{
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 15px;
    }
    
    .workingDays h2{
        font-size: 12px;
        font-weight: 300;
    }
}
