@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --onlineBeckGround: #474747;
  --swiper-navigation-color: #6a6a6a;
}

* {
  box-sizing: border-box;
}

.CartDrawer-module__xeFsHW__drawer,
.LikeDrawer-module__qjBfCG__drawer,
.CategorySection-module__BCVNCa__products {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--foreground);
}

body {
  max-width : 1824px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }
}
